.card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.imageWrapper {
  height: 200px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card:hover .image {
  transform: scale(1.1);
}

.noImage {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
  color: #888;
  font-size: 14px;
}


.info {
  padding: 18px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: rgb(17, 24, 39);
}

.location {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #444;
  margin-bottom: 12px;
  line-height: 1.5;
}

/* Details row */
.details {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #555;
  font-weight: 500;
}