.card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.imageWrapper {
  height: 200px;
  overflow: hidden;
}

.rupee {
  font-size: 10.5px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card:hover .image {
  transform: scale(1.1);
}

.noImage {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
  color: #888;
  font-size: 14px;
}

.info {
  padding: 18px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: rgb(17, 24, 39);
}

.location {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #444;
  margin-bottom: 12px;
  line-height: 1.5;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #555;
  font-weight: 500;
}

.viewBtn {
  width: 100%;
  margin-top: 10px;
  padding: 10px 16px;
  background-color: rgb(13, 67, 192);
  color: rgb(210, 238, 250);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s;
}

.viewBtn:hover {
  background-color: rgb(11, 37, 164);
  color: rgb(250, 242, 242);
}
